.home {
    background: black;
    color: white;
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    .threadView {
        width: 800px;
        height: calc(100% - 150px);
        padding-top: 50px;
        text-align: center;
        overflow-x: hidden;
        overflow-y: scroll;
        background: #0D0D0D;
        .viewContainer {
            .viewItem {
                display: flex;
                justify-content: center;
                min-height: 40px;
                position: relative;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }
                .value {
                    background: #151515;
                    width: calc(100% - 100px);
                    text-align: left;
                    padding: 15px 15px;
                    box-sizing: border-box;
                    border-radius: 4px;
                    font-size: 14px;
                    word-break: break-word;
                    a {
                        color: #3fff59 !important;
                    }
                }
                .postedBy {
                    position: absolute;
                    transform: rotate(-90deg);
                    transform-origin: top;
                    left: 20px;
                    top: 12px;
                    font-size: 13px;
                    color: #979797;
                    &:hover {
                        color: #3fff59;
                    }
                    cursor: pointer;
                }
            }
        }
    }
    .formContainer {
        position: fixed;
        bottom: 20px;
        width: 750px;
        display: flex;
        justify-content: center;
        >form {
            display: flex;
        }
        input {
            border: none;
            outline: none;
            border-radius: 10px;
            background: black;
            color: white;
            font-size: 14px;
            width: 500px;
            padding: 7px 20px;
            border-radius: 10px;
            font-family: inherit;
        }
        .submitForm {
            background: #3fff59;
            text-transform: uppercase;
            color: black;
            border-radius: 10px;
            font-size: 16px;
            text-align: center;
            font-weight: 600;
            padding: 7px;
            cursor: pointer;
        }
    }
}


.appHeader {
    position: fixed;
    cursor: pointer;
    left: 50px;
    top: 25px;
    .appTitle {
        width: 100px;
    }
}

@media screen and (max-width: 719px) {
    .home {
        .appHeader {
            height: 100px;
            width: 100%;
        }
        .threadView {
            margin-top: 100px;
            width: 100%;
            height: calc(100% - 230px);
        }
        .formContainer {
            width: 95% !important;
            form {
                width: 100%;
                input {
                    width: 95%;
                }
            }
        }
    }
}